<h2><%= @post.title %></h2>
<p>
  Content: <%= @post.content %>
</p>
<p>
Category:
  <% @post.categories.each do |category| %>
    <%= category.name %>
  <% end %>
</p>
<p>
Comments:
  <% @post.comments.each do |comment| %>
    <p><%= comment.user.username %> says:
    <%= comment.content %></p>
  <% end %>
</p>

Users: 
  <% @post_users.each do |user| %>
    <%= link_to user.username, user_path(user) %>
  <% end %>

New Comments:
	<%= form_for @comment do |f| %>
	<%= f.hidden_field :post_id, value: @post.id %>
	<%= f.label :content %>
	<%= f.text_area :content %>
	<%= f.collection_select(:user_id, User.all, :id, :username, include_blank: true) %>
	<%= f.fields_for :user, User.new do |user| %>
	<%= user.text_field :username %>
	<% end %>
	<%= f.submit %>
	<% end %>
